.header {
	min-height: 200px;
	border-bottom: @primary-color 10px solid;
	color: white;
	overflow: hidden;

	h1 {
		padding: calc(@margin * 5) 0 calc(@margin / 2) @margin;
		font-weight: 500;
		width: 45%;
		text-shadow: 2px 1px #aaa;

		@media screen and (max-width: @breakpoint-tablet) {
			padding: calc(@margin * 4) 0 calc(@margin / 2) @margin;
			width: 70%;
		}

		@media screen and (max-width: @breakpoint-phone) {
			padding: calc(@margin * 2) @margin calc(@margin / 2);
			width: 80%;
		}
	}
}

.moduletable.white, .moduletable.background, .moduletable.background-image {
	h2 {
		color: @primary-color;
		text-transform: uppercase;
	}

	.custom {
		display: flex;
		flex-wrap: nowrap;
		padding: @margin calc(@margin * 3);

		@media screen and (max-width: @breakpoint-phone) {
			padding: @margin;
		}

		&.background {
			background-color: @support-color;
		}

		div {
			padding: calc(@margin / 2) @margin;
		}

		div:first-child:not(:last-child) {
			padding-right: calc(@margin * 2);
		}

		&.background-image div.text {
			background-color: white;
		}

		.text {
			ul {
				margin-block-start: 0;
				padding-inline-start: 0;
			}
		}

		.image {
			display: flex;
			align-items: center;

			img {
				max-width: 100%;
				height: auto;
			}
		}

		@media screen and (max-width: @breakpoint-phone) {
			.text, .image {
				width: 100%;
			}
			&.mobile-image-none {
				.text {
					padding-right: inherit;
				}

				.image {
					display: none;
				}
			}

			&.mobile-image-under {
				flex-wrap: wrap;
				.text {
					order: 1;
				}

				.image {
					order: 2;
				}
			}

			&.mobile-image-first {
				flex-wrap: wrap;
				.text {
					order: 2;
				}

				.image {
					order: 1;
				}
			}
		}
	}
}
