.footer-container {
	background-color: @secondary-color;
	padding: calc(@margin / 4) @margin;

	.footer {
		display: flex;
		flex-wrap: wrap;

		.logo {
			display: flex;
			align-items: flex-end;
			width: 40%;

			img {
				max-width: 100%;
				height: auto;
			}
		}

		.adress {
			display: flex;
			align-items: flex-end;
			align-content: flex-end;
			text-align: right;
			color: white;
			flex-wrap: wrap;
			width: 60%;

			p {
				width: 100%;
				line-height: 1.5em;

				span {
					font-weight: 500;
					font-size: 1.1em;
				}
			}
		}
	}

	.bottom {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-end;
		border-top: white solid 1px;

		.nav {
			display: flex;
			align-self: stretch;
			align-items: flex-end;
			text-transform: uppercase;
			font-weight: 500;
			margin-block-start: 0;
			margin-block-end: 0;
			padding-inline-start: 0;

			li {
				display: inline-block;
				margin: 10px;
				line-height: 1em;
				padding-right: 20px;

				&:first-child {
					margin-left: 0;
				}

				&:not(:last-child) {
					border-right: 2px solid white;
				}

				&:before {
					display: none;
				}

				a {
					color: white;
					text-decoration: none;
					font-size: 0.75em;
				}
			}
		}

		.social {
			display: flex;
			align-self: stretch;
			align-items: flex-end;

			p {
				width: 100%;
				text-align: right;
				margin: 0;
				color: @primary-color;

				.fab {
					background: white;
					padding: 5px;
					margin: 20px 10px 10px;
					font-size: 2em;
					width: 1em;
					text-align: center;
				}

				.fab:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
