@import "variables.less";
@import "hamburger.less";
@import "top.less";
@import "navigation.less";
@import "content.less";
@import "footer.less";
@import "list.less";

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-size: 16px;
	line-height: 1.5em;
}

h1 {
	font-size: 2.2em;
	line-height: 1.3em;
}

h2 {
	font-size: 1.75em;
}

img {
	max-width: 100%;
	height: auto;
}

.vi-10 {
	width: 10%;
}

.vi-20 {
	width: 20%;
}

.vi-25 {
	width: 25%;
}

.vi-30 {
	width: 30%;
}

.vi-33 {
	width: 33%;
}

.vi-40 {
	width: 40%;
}

.vi-50 {
	width: 50%;
}

.vi-60 {
	width: 60%;
}

.vi-66 {
	width: 66%;
}

.vi-70 {
	width: 70%;
}

.vi-75 {
	width: 75%;
}

.vi-80 {
	width: 80%;
}

.vi-90 {
	width: 90%;
}
